<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <title>Ai Blog Generator</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 font-sans antialised">
    <!-- Navbar  -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
      <div>
        <h1 class="text-3xl font-bold"><a href="/">Ai Blog Generator</a></h1>
      </div>
      <div>
        <a href="#" class="text-white hover:underline"
          >Welcome {{user.username}}</a
        >
        <a href="/blog-list" class="text-white hover:underline mx-4"
          >Saved Blog Posts</a
        >
        <a href="#" class="text-white hover:underline">Logout</a>
      </div>
    </nav>
    <br /><br />
    <!-- Main  -->
    <div class="flex-grow container mx-auto mt-10 px-4 sm:px-0">
      <div
        class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition-transform tranform hover:scale-105 flex flex-col"
      >
        <!-- introduction section  -->
        <div class="text-center">
          <h2 class="text-2xl font-semibold mb-4">
            Welcome to the AI Blog Generator
          </h2>
          <p class="text-gray-700">
            Generator high-quality blog articles from YouTube videos using
            artificial intelligence. Simply enter the link to the YouTube video
            below and let the AI create the content for you!
          </p>
        </div>

        <br />

        <!-- youtube section -->
        <div>
          <h2 class="text-xl mb-4 font-semibold">
            Enter link to the YouTube video
          </h2>
          <div class="flex space-x-4">
            <input
              type="url"
              id="youtubeLink"
              placeholder="Paste YouTube Link..."
              class="flex-grow p-2 border border-blue-400 rounded-l-md max-w-md"
            />
            <button
              id="generateBlogButton"
              class="bg-blue-600 text-white px-4 py-2 rounded-r-md hover:bg-blue-700 transition-colors"
            >
              Generate
            </button>
          </div>
        </div>
        <!-- section for loading circle -->
        <div style="display: none" id="loading-circle" class="load"></div>

        <!-- generated blog display -->
        <section class="mt-10 flex-grow">
          <h2 class="text-xl mb-4 font-semibold">Generated Blog Article</h2>
          <div id="blogContent" class="mt-2 text-gray-700 space-y-4"></div>
        </section>
      </div>
    </div>

    <footer class="text-center p-4 mt-6 text-black">
      Powered by
      <a
        href="https://github.com/shersheryar"
        class="font-semibold hover:underline"
        >Sheryar Sher</a
      >
    </footer>
    <script>
      // add event listener to the generate blog button
      document
        .getElementById("generateBlogButton")
        .addEventListener("click", async () => {
          const youtubeLink = document.getElementById("youtubeLink").value;
          const blogContent = document.getElementById("blogContent");
          const loadingCircle = document.getElementById("loading-circle");

          if (youtubeLink) {
            // show loading circle
            document.getElementById("loading-circle").style.display = "block";
            loadingCircle.classList.remove("hidden");
            blogContent.innerHTML = ""; // clear previous content

            const endpointUrl = "/generate-blog";
            try {
              const response = await fetch(endpointUrl, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ link: youtubeLink }),
              });
              const data = await response.json();
              blogContent.innerHTML = data.blogContent;
              loadingCircle.classList.add("hidden"); // hide loading circle after content is loaded
            } catch (error) {
              console.error("Error occurred:", error);
              alert("An error occurred while generating the blog article");
              loadingCircle.classList.add("hidden"); // hide loading circle after content is loaded
            }
            document.getElementById("loading-circle").style.display = "none";
          } else {
            alert("Please enter a valid YouTube link");
          }
        });
    </script>
  </body>
</html>
